/* Fonts Import from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Rubrik", sans-serif;
  --secondary-font: "Righteous", sans-serif;
  --primary-color: #423e59; /* Gunpowder */
  --secondary-color: #8997a6; /* Regent Gray */
  --highlight-dark: #6d4e75; /* Saltbox */
  --highlight-light: #b099b1; /* Amethyst Smoke */
  --highlight-lighter: #e0dbdc; /* Bonjour */
  --accordian-item: #b0b2b8; /* Bombay */
}

/*.container,
.row {
    border: 2px solid #423e59;
}

.col-12 {
    border: 2px solid white;
    background-color: #e0dbdc;
}*/

/* Navigation Menu */
#navbar {
  background-color: var(--primary-color);
}

#navbar .logo {
  width: 40px;
}

/* Header */
#header .lead {
  font-family: var(--secondary-font);
}

/* ESFA Offer */
#esfa-offer .lead {
  font-family: var(--secondary-font);
}

/* Funding Models */
#funding-models .card {
  margin-bottom: 1.5rem;
}

/* Key Information */
#key-information .card {
  margin-bottom: 1.5rem;
}

/* Basic and Universal Styles */
body {
  color: var(--primary-color);
  font-family: var(--primary-font);
  background-color: var(--highlight-lighter);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

h4 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

h2 {
  margin-bottom: 2rem;
}

p {
  text-align: justify;
}

.bullets {
  text-align: left;
}

.sub-heading {
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.section {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.inline-link {
  font-family: var(--primary-font);
  font-weight: bolder;
  color: var(--highlight-dark);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.inline-link:hover {
  color: var(--highlight-light);
}

/* Bootstrap Accordian Styles */
/* Overriden the syles from Boostrap to match color palette */
.accordion-button:not(.collapsed) {
  background-color: var(--accordian-item);
  color: var(--primary-color);
  box-shadow: none;
}

.accordion-button:focus {
  /* Style when the accordion is focused */
  border-color: #ced4da;
  box-shadow: none;
  color: #212529;
}

.accordion-body {
  text-align: justify;
}

.accordion {
  margin-bottom: 1.5rem;
}

/* Footer */

#more-help {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
}

#more-help h4 {
  margin-bottom: 1rem;
}

.sm-links {
  text-align: center;
}

#more-help i {
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin-right: 15px;
}

#more-help .sm-links i {
  color: var(--highlight-lighter);
  font-size: 1.9rem;
  transition: color 0.3s ease-in-out;
}

#more-help .sm-links i:hover {
  color: var(--highlight-dark);
}

#more-help .footer-column {
  margin-bottom: 1rem;
}

#more-help h4,
#more-help p,
#more-help address {
  color: var(--highlight-lighter);
  text-align: center;
}

.map-container {
  position: relative;
  padding-bottom: 50%; /* 16:9 aspect ratio - adjust if needed */
  height: 0;
  overflow: hidden;
  display: flex; /* Enable Flexbox on the container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media Queries */

/* Medium devices (tables, 768px+) */
@media screen and (min-width: 768px) {
  /* Styles to assist with making all cards the same height */
  #key-information .card-body {
    min-height: 180px;
  }
  #funding-models .card-body {
    min-height: 180px;
  }
}

/* Large devices (small laptops, 992px+) */
@media screen and (min-width: 992px) {
  /* Styles to assist with making all cards the same height */
  #key-information .card-body {
    min-height: auto;
  }
  #funding-models .card-body {
    min-height: auto;
  }
}

/* Xl devices (large desktops, 1200px+) */
@media screen and (min-width: 1200px) {
  /* Styles to assist with making all cards the same height */
  #key-information .card-body {
    min-height: 220px;
  }
  #funding-models .card-body {
    min-height: 220px;
  }
}

/* XXl devices (larger desktops, 1400px+) */
@media screen and (min-width: 1400px) {
  /* Styles to assist with making all cards the same height */
  #key-information .card-body {
    min-height: 195px;
  }
  #funding-models .card-body {
    min-height: 195px;
  }
}
